<li>
    @Html.ActionLink("پروفایل", "ProfilePage", "Account")
</li>
<li>
    @Html.ActionLink("ارسال خبر", "SendNews", "NewsManagement")
</li>
<li>
    @Html.ActionLink("تغییر رمز عبور", "ChangePassword", "Account")
</li>
<li>
    @Html.ActionLink("خروج", "SignOut", "Account")
</li>
