@model List<string>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(@item, "Index", "Home", new { category = @item, page = 1 }, null)
        </li>
    }
}
